In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q !wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [4]:
!pip install -q findspark

In [5]:
import findspark
findspark.init()

Creating Spark Session

In [6]:
import pyspark
from pyspark.sql import *
spark=SparkSession.builder.appName('Test').master('local[3]').enableHiveSupport().getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f05bf41c390>

Creating RDD. Count word in files using map, flatmap, reduceByKey

In [8]:
rdd=spark.sparkContext.textFile('/content/sample_file.txt')\
        .flatMap(lambda x:x.split(' '))\
        .map(lambda x:(x,1))\
        .reduceByKey(lambda x,y:x+y)

for (word, count) in rdd.collect():
          print("%s: %i" % (word, count))

refers: 1
large,: 1
diverse: 1
sets: 1
of: 4
: 6
at: 2
ever-increasing: 1
It: 1
velocity: 1
speed: 1
is: 1
created: 1
collected,: 1
scope: 1
points: 1
covered: 1
as: 1
"three: 1
v's": 1
mining: 1
in: 1
multiple: 1
formats.: 1
Big: 2
data: 4
to: 1
the: 6
information: 1
that: 1
grow: 1
rates.: 1
encompasses: 1
volume: 1
information,: 1
or: 2
which: 1
it: 1
and: 3
variety: 1
being: 1
(known: 1
big: 1
data).: 1
often: 1
comes: 1
from: 1
arrives: 1

Creating dataframe

In [20]:
stock_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/walmart_stock.csv')

print(type(stock_df))
stock_df.printSchema()
# stock_df.select(round('Adj Close',2)).show?()
stock_df.show()

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

Handling bad records

In [ ]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("_corrupt_record", StringType(), True)
])
#.option("columnNameOfCorruptRecord", "_corrupt_record")\ PERMISSIVE, DROPMALFORMED
df1 = spark.read\
         .option("mode", "PERMISSIVE")\
         .schema(schema)\
         .option('header', 'true') \
         .csv('/content/bad_rec_file.csv')
df1.printSchema()
df1.show()

df2 = spark.read\
         .option("mode", "DROPMALFORMED")\
         .schema(schema)\
         .option('header', 'true') \
         .csv('/content/bad_rec_file.csv')
# df2.printSchema()
# df2.show()

df3 = spark.read\
         .option("mode", "FAILFAST")\
         .schema(schema)\
         .option('header', 'true') \
         .csv('/content/bad_rec_file.csv')
# df3.printSchema()
# df3.show()

Handling NULL values

In [ ]:
df4 = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/null_val.csv')

df4.show()
print('Using isnotNull')
df4.filter((df4.Name.isNotNull())&(df4.Age.isNotNull())).show()
print('Using fill()')
df4.na.fill({'Name':'unknown','Age':""}).show()
print('Using drop()')
df4.na.drop().show()

**Join**

In [ ]:
emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/emptbl.csv')

emp_df.show()

dept_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/depttbl.csv')

dept_df.show()
print("inner join")
emp_df.join(dept_df,emp_df.deptno == dept_df.deptno,"inner").show()
print("left join")
emp_df.join(dept_df,emp_df.deptno == dept_df.deptno,"left").show()
print("right join")
emp_df.join(dept_df,emp_df.deptno == dept_df.deptno,"right").show()
print("full join")
emp_df.join(dept_df,emp_df.deptno == dept_df.deptno,"full").show()

Shared Variables - Accumulator, broadcast

In [ ]:
bdcast=spark.sparkContext.broadcast(['abc','pqr','iuo'])
data=bdcast.value[1]
print('broadcast value- ',data)

accum=spark.sparkContext.accumulator(10)
rdd=spark.sparkContext.parallelize([1,2,3,4])
rdd.foreach(lambda x:accum.add(x))
print('accumulator value- ',accum.value)

broadcast value-  pqr
accumulator value-  20

Repartiton and Coalesce

In [ ]:
stock_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/walmart_stock.csv')

print('number of partition 1- ',stock_df.rdd.getNumPartitions())
stock_df = stock_df.repartition(6)
print('number of partition 2 after repartition-',stock_df.rdd.getNumPartitions())
stock_df = stock_df.coalesce(3)
print('number of partition 3 after coalesce-',stock_df.rdd.getNumPartitions())
stock_df.show()

Windows Function on Dataframe like Rank, Dense_rank, row_number

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,dense_rank,rank, to_timestamp, to_date

emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/emptbl.csv')

# emp_df.show()
emp_df.printSchema()
windowSpec  = Window.partitionBy("deptno").orderBy("sal")

emp_df.withColumn("row_number",row_number().over(windowSpec)) \
      .withColumn("dense_rank",dense_rank().over(windowSpec))\
      .withColumn("rank",rank().over(windowSpec))\
      .show()

root
 |-- empno: integer (nullable = true)
 |-- ename: string (nullable = true)
 |-- job: string (nullable = true)
 |-- mgr: integer (nullable = true)
 |-- hiredate: string (nullable = true)
 |-- sal: integer (nullable = true)
 |-- comm: integer (nullable = true)
 |-- deptno: integer (nullable = true)

+-----+------+---------+----+----------------+----+----+------+----------+----------+----+
|empno| ename|      job| mgr|        hiredate| sal|comm|deptno|row_number|dense_rank|rank|
+-----+------+---------+----+----------------+----+----+------+----------+----------+----+
| 7369| SMITH|    CLERK|7902|13-06-1993 00:00| 800|   0|    20|         1|         1|   1|
| 7876| ADAMS|    CLERK|7788|04-06-1999 00:00|1100|null|    20|         2|         2|   2|
| 7566| JONES|  MANAGER|7839|31-10-1995 00:00|2975|null|    20|         3|         3|   3|
| 7788| SCOTT|  ANALYST|7566|05-03-1996 00:00|3000|null|    20|         4|         4|   4|
| 7902|  FORD|  ANALYST|7566|05-12-1997 00:00|3000|null|    20|         5|         4|   4|
| 7902|  FORD|  ANALYST|7566|05-12-1997 00:00|3000|null|    20|         6|         4|   4|
| 7934|MILLER|    CLERK|7782|21-01-2000 00:00|1300|null|    10|         1|         1|   1|
| 7782| CLARK|  MANAGER|7839|14-05-1993 00:00|2450|null|    10|         2|         2|   2|
| 7839|  KING|PRESIDENT|null|09-06-1990 00:00|5000|   0|    10|         3|         3|   3|
| 7900| JAMES|    CLERK|7698|23-06-2000 00:00| 950|null|    30|         1|         1|   1|
| 7900| JAMES|    CLERK|7698|23-06-2000 00:00| 950|null|    30|         2|         1|   1|
| 7521|  WARD| SALESMAN|7698|26-03-1996 00:00|1250| 500|    30|         3|         2|   3|
| 7654|MARTIN| SALESMAN|7698|05-12-1998 00:00|1250|1400|    30|         4|         2|   3|
| 7844|TURNER| SALESMAN|7698|04-06-1995 00:00|1500|   0|    30|         5|         3|   5|
| 7499| ALLEN| SALESMAN|7698|15-08-1998 00:00|1600| 300|    30|         6|         4|   6|
| 7698| BLAKE|  MANAGER|7839|11-06-1992 00:00|2850|null|    30|         7|         5|   7|
+-----+------+---------+----+----------------+----+----+------+----------+----------+----+

Partition and Bucketing on Dataframe

In [ ]:
emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/emptbl.csv')

# emp_df.show()
emp_df.printSchema()
emp_df.write\
      .partitionBy("deptno") \
      .mode("overwrite") \
      .csv("partitions/partitionBy.csv", header=True)

emp_df.write\
      .bucketBy(3, 'deptno') \
      .mode("overwrite") \
      .saveAsTable('bucketed', format='csv')

spark sql

In [ ]:
emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/emptbl.csv')


spark.catalog.dropTempView("emp")
emp_df.createTempView("emp")
spark.sql('select * from emp').show()

Write parquet and ORC file

In [ ]:
emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/emptbl.csv')


emp_df.write.mode('overwrite').parquet("parquet_output/emp.parquet")


emp_df.write.mode('overwrite').format("orc").save("orc/emp_orc.orc")

Remove duplicate records

In [ ]:
emp_df = spark.read \
        .option('inferSchema', 'true') \
        .option('header', 'true') \
        .csv('/content/bad_rec_file.csv')

emp_df.show()
print('removing duplicates using drop_duplicates')
emp_df.drop_duplicates().show()
print('removing duplicates using distinct')
emp_df.distinct().show()

Reading JSON file

In [ ]:
from pyspark.sql.functions import explode,col,from_json
from pyspark.sql.types import MapType,StringType
json_df=spark.read.option('multiline','true')\
.json('/content/sample_json.json')

json_df.show()
json_df.printSchema()
final_df=json_df.withColumn('contact no',explode('phoneNumbers'))\
                .withColumn('contact_no',col('contact no.number'))\
                .withColumn('contact_type',col('contact no.type'))\
                .drop('contact no','phoneNumbers')\
                .withColumn('city',col("address.city"))\
                .withColumn('state',col("address.state"))\
                .withColumn('streetAddress',col("address.streetAddress"))\
                .drop('address')

final_df.printSchema()
final_df.show()

+--------------------+---+---------+------+--------+--------------------+
|             address|age|firstName|gender|lastName|        phoneNumbers|
+--------------------+---+---------+------+--------+--------------------+
|[San Diego, CA, 101]| 28|      Joe|  male| Jackson|[[7349282382, home]]|
|[dfsdf dsfsdf, LA...| 35|      Dan|female|     Leo|[[854282352, offi...|
+--------------------+---+---------+------+--------+--------------------+

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- streetAddress: string (nullable = true)
 |-- age: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- phoneNumbers: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- number: string (nullable = true)
 |    |    |-- type: string (nullable = true)

root
 |-- age: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- contact_no: string (nullable = true)
 |-- contact_type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- streetAddress: string (nullable = true)

+---+---------+------+--------+----------+------------+------------+-----+-------------+
|age|firstName|gender|lastName|contact_no|contact_type|        city|state|streetAddress|
+---+---------+------+--------+----------+------------+------------+-----+-------------+
| 28|      Joe|  male| Jackson|7349282382|        home|   San Diego|   CA|          101|
| 35|      Dan|female|     Leo| 854282352|      office|dfsdf dsfsdf|   LA|          102|
+---+---------+------+--------+----------+------------+------------+-----+-------------+